.menuitems {
    padding: 0;
    display: flex;
    background: white;
}

    .menuitems.level-0 {
        /*Top-Level menus are displayed in a row...*/
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 0.5rem;
    }

    .menuitems.level-1 {
        /*First-level submenus are displayed right below their parent*/
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
    }

    .menuitems:not(.level-0):not(.level-1) {
        /*Submenus after the first level are displayed to the right of their parent*/
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
    }

    .menuitems:not(.level-0) {
        /*Border of submenus*/
        border-radius: 0.2rem;
        border: 1px solid rgb(128, 128, 128);
        filter: drop-shadow(0 0 0.1rem gray);
    }
